@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Quicksand";
  color: white;
}

body {
  background-color: #111;
}

html {
  /* 10px = (100/16) * 10 = 62.5% */
  font-size: 62.5%;
}

button {
  padding: 1rem 2rem;
  background-color: #f1356d;
  color: black;
  cursor: pointer;
  border-radius: 8px;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

h1 {
  font-size: 3.8rem;
}

.nav-bar {
  padding: 2rem;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.nav-bar h1 {
  color: #f1356d;
  font-size: 3.2rem;
}
.nav-bar .nav-links {
  font-size: 1.6rem;
  margin-left: auto;
  display: flex;
  gap: 1.6rem;
}
.nav-bar .nav-links a {
  text-decoration: none;
}
.nav-bar .nav-links a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 4rem auto;
  padding: 1rem;
}

/* blog previews / list */
.blog-preview {
  padding: 1rem 1.6rem;
  margin: 2rem 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 2rem;
  color: #f1356d;
  margin-bottom: 1rem;
}

/* Blog Details */

.blog-container{
  display:flex;
  flex-direction: column;
  gap:1rem;
}
